
/**...........................................*/
body{
    margin: 0;
    padding: 0;

}

 
section{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}


.s1{
    background-image: url("./PNG/AM_002_D/AM_002_D.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    


}
.s2{
    background-image: url("./PNG/AM_002_D/AM_002_D\(2\).png");
    background-repeat: no-repeat;
    background-size: cover;
}
.s3{
    background-image: url("./PNG/AM_002_D/AM_002_D\(3\).png");
    background-repeat: no-repeat;
    background-size: cover;
}
.s4{
    background-image: url("./PNG/AM_002_D/AM_002_D\(4\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



/** MEDIA QUERIES */

@media only screen and (max-width:500px){
    .s1{
    background:url('./PNG/AM_002_P/AM_002_P.png');
    background-size:cover;
    background-size: 100% 100%;
    }
    .s2{
    background:url('./PNG/AM_002_P/AM_002_P\(2\).png');
    background-size:cover;
    background-size: 100% 100%;
    
  }

    .s3{
    background:url('./PNG/AM_002_P/AM_002_P\(3\).png');
    background-size:cover;
    
     background-size: 100% 100%;
  
  }
  .s4{
    background:url('./PNG/AM_002_P/AM_002_P\(4\).png');
    background-size:cover;
    
     background-size: 100% 100%;
  
  }
  }
  
  @media only screen 
    and (min-device-width: 768px) 
     and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 1) 
  {
    .s1{
    background:url('./PNG/AM_002_TAB_P/AM_002_TAB_P.png');
    background-size:cover;
    
    background-size: 100% 100%;
  }
  .s2{
    background:url('./PNG/AM_002_TAB_P/AM_002_TAB_P\(2\).png');
    background-size:cover;
    background-size: 100% 100%;
    
  }

  .s3{
    background:url('./PNG/AM_002_TAB_P/AM_002_TAB_P\(3\).png');
    background-size:cover;
    
     background-size: 100% 100%;
  
  }
  .s4{
    background:url('./PNG/AM_002_TAB_P/AM_002_TAB_P\(4\).png');
    background-size:cover;
    
     background-size: 100% 100%;
  
  }
  }
  @media only screen 
    and (max-device-width: 768px) 
     and (orientation:landscape)
    and (-webkit-min-device-pixel-ratio: 1) 
  {
    .s1{
    background:url('./PNG/AM_002_TAB_L/AM_002_TAB_L.png');
    background-size:cover;
    
    background-size: 100% 100%;
  }
  .s2{
    background:url('./PNG/AM_002_TAB_L/AM_002_TAB_L\(2\).png');
    background-size:cover;
    background-size: 100% 100%;
    
  }

    .s3{
    background:url('./PNG/AM_002_TAB_L/AM_002_TAB_L\(3\).png');
    background-size:cover;
    
     background-size: 100% 100%;
  
  }
  .s4{
    background:url('./PNG/AM_002_TAB_L/AM_002_TAB_L\(4\).png');
    background-size:cover;
    
     background-size: 100% 100%;
  
  }
  }
  
  /** MEDIA QUERIEs END */

